.wrapper {
  min-width: 500px;
  max-height: 500px;

  .header {
    padding: 10px 0;
  }

  .text-list {
    font-size: 12px;

    tr {
      td {
        padding: 3px 7px;
        cursor: pointer;
      }

      &:nth-child(even) {
        td {
          background: #ebebeb;
        }
      }

      &:nth-child(odd) {
        td {
          background: #fff;
        }
      }

      &:first-child {
        td {
          border: 0;
        }
      }

      &:hover {
        td {
          background: #f3efb0;
        }
      }
    }
  }

  #copied-text {
    display: block;
    height: 1px;
    opacity: 0;
    padding: 0;
    border: 0;
  }
}

.options-wrapper {
  padding: 20px;
  width: 800px;

  .add-text-group {
    display: table;
    width: 100%;
    margin-bottom: 10px;

    textarea {
      width: 100%;
      margin-bottom: 10px;
      resize: vertical;
    }

    button {
      width: 20%;
      display: table-cell;
      margin-bottom: 20px;
    }
  }

  .list-group-item {
    padding: 5px 10px;

    .tbl {
      display: table;
      width: 100%;
      font-size: 12px;

      span {
        display: table-cell;
      }

      .snippet {
        width: 80%;
        border: 1px dotted #fff;
        outline: none;

        &[contenteditable=true] {
          border: 1px dotted #c0c0c0;
        }
      }

      .actions {
        width: 20%;
        text-align: right;

        i {
          font-size: 12px;
          cursor: pointer;

          &.edit-snippet {
            margin-right: 5px;
          }

          &.save-snippet {
            display: none;
            margin-right: 5px;
          }

          &.cancel-snippet {
            display: none;
          }
        }
      }
    }

    textarea {
      display: none;
      width: 100%;
      margin-top: 5px;
      resize: vertical;
    }
  }
}

